.messenger-conversation {
    background-color: rgb(255, 255, 255);
    margin: auto;
    overflow: auto;
}

.messenger-conversation .message {
    font-size: 2rem;
    margin: 1rem;
}

.messenger-conversation .message img {
    display: block;
    height: 6rem;
    width: auto;
}

.messenger-conversation .message-received {
    background-color: #F1F0F0;
    border-radius: 1rem;
    color: rgba(0, 0, 0, 1);
    margin-left: 1rem;
    margin-right: 50%;
    padding: 1rem;
    text-align: left;
}

.messenger-conversation .message-sent {
    background-color: #0084ff;
    border-radius: 1rem;
    color: #ffffff;
    margin-left: 50%;
    margin-right: 1rem;
    padding: 1rem;
    text-align: left;
}
