.reveal section.slide-technical-requirements td {
    vertical-align: top;
}

.reveal section.slide-technical-requirements img {
    display: block;
    height: 10vh;
    width: auto;
}



.reveal section.slide-libraries td {
    vertical-align: top;
}

.reveal section.slide-libraries img {
    display: block;
    height: 10vh;
    width: auto;
}
