.reveal section>img {
    display: block;
    margin: auto;
}



.reveal section li>small {
    vertical-align: middle;
}

.reveal section .row.space-evenly {
    justify-content: space-evenly;
}



.reveal section.slide-technical-requirements td {
    vertical-align: top;
}

.reveal section.slide-technical-requirements img {
    display: block;
    height: 10vh;
    width: auto;
}



.reveal section.slide-libraries td {
    vertical-align: top;
}

.reveal section.slide-libraries img {
    display: block;
    height: 10vh;
    width: auto;
}



.reveal section.slide-supported-hardware img {
    display: block;
    height: 10vh;
    margin: auto;
    width: auto;
}

.reveal section.slide-gitlab-runner-devices img {
    display: block;
    margin: auto;
    height: 20vh;
    width: auto;
}



.reveal section.slide-next-steps img {
    display: block;
    margin: auto;
    height: 25vh;
    width: auto;
}
